checkpoints/*
*co-tracker/
*example_videos/
*input_data*/
*output_data*/
*output_data-old/
*saved_videos/
*outputs/
*ablation/
*3d_video/
*.mp4
*.pth
*.pyc
*.pyo
*.ckpt
*.npy
*.log
.vscode 
.artienv
.idea/
*.egg-info/
*.save
*.zip
*.tar
*.csv
__pycache__/
*.pgm
*.ply
*.png

.ruff_cache

.catkin_tools/
build/
devel/
install/

third-party/
third-party/gtsam/build/
third-party/gtsam-install/
frames
keys.yaml

# add exemption for media files
!media/*.png
